
    *{
        margin: 0px;
        padding: 0px;
        font-family: 'Roboto', sans-serif;

    }
    #header{
    vertical-align: top;
    display: block;
    background-color: #e53935;
    /*theme red*/
    height: 56px;
}
    #header h2{
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: white;
        margin-top: 14px;
        margin-left: 40px;
    }
    #header h4{
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: white;
    }
    #header a{
        display: inline-block;
        text-decoration: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        float: right;
        margin-right: 40px;
        margin-top: 21px;
    }


    #wrapper {
        width: 960px;
        height: 725px;
        /*padding: 10px;*/
        margin: 0px auto;
    }

    #banner {

        height: 150px;

    }

        #banner img {
            height: 100%;
            width: 100%;
        }

    #nav_bar {
        /*width: 99.2%;*/
        height: 47px;
        padding: 0px 4px 0px 0px;
        background-color: #e53935;
        /*theme red*/
        overflow-x: scroll; 
        white-space: nowrap;


      
    }

    #nav_bar::-webkit-scrollbar { 
        display: none; 
    }

    #nav_bar ul {
            /*margin: 0px auto;*/
            /*overflow-x: scroll; */

        }

        #nav_bar ul li.pref_tab{
            display: inline-block;
            list-style-type: none;
            padding: 5px 18px;
            /*border: 1px solid black;*/
        /*    border-bottom: none;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;*/
            /*overflow-x: scroll; */

        }

        #nav_bar a {
            text-decoration: none;
            line-height: 35px;
            color: white;
            font-size: 1.4em;
            font-weight: 700;
        }

        #nav_bar a:hover{
            cursor: pointer;
            
        }

    #content {
        width: 100%;
        padding: 5px 0px;
        /*margin: 0px auto;*/
    }

    #recipe_tab_left, #twtr_tab_right {
        width: 24.2%;
        height: 500px;
        display: inline-block;
        vertical-align: top;  
    }
    #twtr_tab_right{
        margin-left: 3px;
    }

    #twtr_content .loading {
        width: 50%;
        margin-left: 58px;
    }

    #twtr_tab_right #twtr_content {
        height: 91.3%
    }

    #recipe_tab_left #search_content, #twtr_tab_right #twtr_content{
        word-wrap: break-word;
        overflow-y: scroll;
        background-color: #eceff1

    }

    #recipe_tab_left h3, #twtr_tab_right h3{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        /*border-bottom: 1px solid black;*/
        background-color: #ffb74d;
        color: white;
    }



    #search_content {
        height: 91.3%;
        overflow-y: scroll;
        
        
    }

    #search_content::-webkit-scrollbar{
        display: none;
    }

    #search_content .loading {
      width: 50%;
      margin-left: 58px;

    }


    #search_content .recipe {
        height: 20%;
        width: 224px;
        font-weight: 700;
        /*border-bottom: 1px solid black;*/
        /*margin-top: 20px;*/
        /*background-color: #00BCD4;*/
        background-size: 100% 100%;
        color: white;
        background-repeat: no-repeat;
        border: 4px solid rgba(0,0,0,0);

    }

    #search_content .recipe:hover{
         cursor: pointer;
    }
   

    #search_content .recipe_link {
        padding-left: 10px;
        padding-top: 15px;
    }




    #center_content {
        width: 50%;
        height: 500px;
        /*border: 1px solid black;*/
        display: inline-block;
        margin-left: 2px;
        margin-right: 2px;
    }

    #option_tabs {

        /*height: 100%;*/
        background-color: white;
        /*padding: 1px 4px 0px 4px;*/

    }

/*    #option_tabs ul {
        margin-left: 50px;
    }
*/
    #option_tabs ul li{

        height: 42px;
        width: 49%;
        display: inline-block;
        font-size: 1.2em;
        font-weight: bold;
        list-style-type: none;
        /*border: 1px solid black;*/
        border-bottom: none;
        text-align: center;
        line-height: 35px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background-color: #ffb74d;
        /*made changes to background color
        and border*/



    }

/*    #option_tabs ul li:last-child{
        margin-left: 105px;
    }
*/
    #option_tabs a {

        text-decoration: none;
        color: white;
        /*made changes to option tab color*/


    }

    #option_tab_2{
        margin-left: 2px;
    }

    #option_tab_1{
        margin-left: 3px;
        margin-right: 0.5px;
    }


    #details {
       padding: 5px;
       height: 88%;
   }

   #details .loading {
       width: 35%;
       margin-left: 150px;
    }

   #details_top {
       text-align: center;
        margin-top: 10px;
   }

   #details_top img {
       /*width: 40%;*/
       height: 40%;
       margin-bottom: 5px;
       border-radius: 7px;
   }


   #ingredients {
       width: 90%;
       height: 40%;
       overflow-y: scroll;
       margin-top: 10px;
/*     background-color: #ffb74d ;
*/     box-shadow: 1px 1px 82px -57px rgba(0,0,0,0.51);
   }


   #ingredients ul li{
       list-style: none;
       /*margin-left: 10%;*/
       margin-top: 5px;
       margin-bottom: 20px;
       letter-spacing: 0.5px;
       cursor: pointer;

   }

   .grocery_form {
      margin-left: 10%;
   }


   #details_bottom {
       /*height: 10%;*/
       margin-top: 15px;
       margin-left: 65%;
   }
       #details_bottom a{
           text-decoration: none;
           font-weight: 700;
       }
       #details_bottom h6 {
           font-size: 5pt;
       }

#grocery_list {
        display: none;
       height: 425px;
        padding: 10px;
        overflow-y: scroll;
        white-space: nowrap;
    }

    #groceries {
        width: 100%;
        text-align: center;
        font-weight: 100;
        letter-spacing: 0.5px;
        border-collapse: collapse;

    }

    #groceries tr:nth-child(even) {
        background-color: #e9e9e9;
    }

   #groceries td {
       height: 40px;
   }

   .btn {
   position: relative;
   display: block;
   float: right;
   margin-right: 5px;
   /*margin-top: 3px;*/
   padding: 0;
   overflow: hidden;
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   font-size: 12px;
   border-width: 0;
   outline: none;
   border-radius: 2px;
   box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
   background-color: #e53935 ;
   color: #ecf0f1 ;
   transition: background-color .3s;
   padding: 4px 10px;
   cursor: pointer;
}

.btn:hover, .btn:focus {
 background-color: #F44336 ;
}

.btn > * {
 position: relative;
}


.btn:before {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 display: block;
 width: 0;
 padding-top: 0;  
 border-radius: 100%;
 background-color: rgba(236, 240, 241, .3);
 
 -webkit-transform: translate(-50%, -50%);
 -moz-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 -o-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
}

.btn:active:before {
 width: 120%;
 padding-top: 120%;
 
 transition: width .2s ease-out, padding-top .2s ease-out;